---
import { Image, Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import c_slider1 from "../../public/c_slider1.svg";
import c_slider2 from "../../public/c_slider2.svg";
import c_slider3 from "../../public/c_slider3.svg";
---

<Layout title="test">
    <div class="industry-thumb-slider">
        <div id="industry" class="slider-nav-items" style="display: flex;">

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Retail</div>

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Fintech</div>

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Insurance</div>

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Education</div>

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Healthcare</div>

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Travel &amp; Hospitality</div>

            <div style="min-width:127px; display: flex; justify-content: center;"
                class="nav-item">Media &amp; Entertainment</div>

        </div>
    </div>

</Layout>
