<section class="mx-5 md:max-w-7xl md:mx-auto md:px-24">
    <div class="text-center">
        <h2 class="text-4xl text-[#31393C] font-semibold">
            Offering 360-degree ERPNext & ServiceNow services!
        </h2>
        <ul
            class="text-xl text-[#3E96F4] font-semibold flex justify-center mt-5 mb-5"
        >
            <li class="ml-2">• Streamlined Management</li>
            <li class="ml-2">• Better customer satisfaction</li>
            <li class="ml-2">• Higher Revenues</li>
        </ul>

        <p class="text-[#31393C]">
            Optimize your business processes, satisfy your customers,
            and ultimately boost your revenues by leveraging the <br /> best-in-class
            platform such as ERPNEXT or serviceNow and trusted implementation
            partner.
        </p>
    </div>

    <div class="mt-10 flex justify-center">
        <div class="drop-shadow-lg shadow mr-5 rounded-lg">
            <button class="text-[#3E96F4] px-10 py-2"> ERPNext</button>
        </div>
        <div class="drop-shadow-lg shadow rounded-lg">
            <button class="text-[#3E96F4] px-10 py-2">
                ServiceNow
            </button>
        </div>
    </div>
</section>